
* {
    box-sizing: border-box;
}


.ls-panel {
    margin: 0;
    border-radius: 10px;
}

.rs-panel {
    margin-top: 80px;
}

.rs-margin {
    margin: 100px 0;
    width: 100%;
}

.ls-margin {
    margin: 100px 0;
    width: 100%;
    border: rgba(0, 0, 0, 0.21) 1px solid;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11),
    0 1px 2px rgba(0, 0, 0, 0.12);
}

.scrollable-table {
    overflow-x: scroll;
    width: 100%;
    scroll-behavior: smooth;
}

.scrollable-table table th {
    background: rgb(72, 72, 72);
    color: white;
}


.scrollable-table th:first-child {
    min-width: 20px;
}


.scrollable-table th:nth-child(2) {
    min-width: 300px;
}

.scrollable-table th:nth-child(3) {
    min-width: 60px;
}

.scrollable-table th:nth-child(4) {
    min-width: 150px;
}

.scrollable-table th:nth-child(5) {
    min-width: 150px;
}

.scrollable-table th:nth-child(6) {
    min-width: 150px;
}


.table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%; /* Make sure table is responsive */
}

.card {
    width: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11),
    0 1px 2px rgba(0, 0, 0, 0.11);
    z-index: 999;

}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11),
    0 1px 2px rgba(0, 0, 0, 0.11);
}

.card h4 {
    font-family: "Roboto Thin", sans-serif;
}

.card button:hover {
    background: rgb(47, 47, 47);
}

.card button {
    padding: 1px 2px;
    border: none;
}

.card button:hover {
    background: white;
    border: none;
}

.edit-contract {
    display: flex;
    align-items: end;
    justify-content: end;
}

.edit-contract button {
    background: none;
}

.edit-contract i {
    color: white;
    background: rgba(3, 126, 67, 0.78);
    border-radius: 5px;
}

.edit-contract i:hover {
    background: #047c48;
}

.edit-form {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    justify-content: center;
    border: rgba(0, 0, 0, 0) 1px solid;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;

}


.edit-form form {
    width: 80%;
    margin-top: 30px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 9991;
    display: block;
    transition: 0.3s;
    backdrop-filter: blur(2px);
}

.close-btn {
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: 0.2s;
}

.close-btn:hover {
    color: red;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .edit-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
